---
title: QR読み取りサンプル
---
<div class="container">
  <h1>QR読み取りサンプル</h1>

  <div class="row">
    <div class="col-lg-12">
      <input type="file" id="file">
      <p id="result"></p>
      <canvas id="qr-canvas"></canvas>
    </div>
  </div>

</div>
